* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
}

.primary {
  height: 150px;
  width: 150px;
  background-color: red;
  margin: 10px;
  text-align: center;
}

/* .first {

  background-color: rgb(35, 218, 11);
  position: relative;
  left: 200px;
}
.first:hover {
  left: 50px;
} */

/* .second {
  background-color: rgb(205, 0, 161);
  position: absolute;
  left: 300px;
} */

/* .fourth {
  position: fixed;
} */

/* .third {
  position: sticky;
  left: 50px;
} */
