* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
}
.container {
  height: 80vh;
  width: 100vw;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  align-content: center;
  gap: 10px 20px;
}

.item {
  height: 70px;
  width: 70px;
  background-color: blueviolet;
  /* margin: 20px; */
  font-weight: bolder;
}

.special {
  order: 2;
}
