* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
}

.container {
  background-color: #100;
  height: 100%;
  width: 100%;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  grid-template-areas:
    "h h h h"
    "n n n m"
    "a . . m"
    "f f f f";
}

header {
  grid-area: h;
}
nav {
  grid-area: n;
}
main {
  grid-area: m;
}
aside {
  grid-area: a;
}
footer {
  grid-area: f;
}
/* 
header {
  grid-column-start: 1;
  grid-column-end: 5;
}
nav {
  grid-column-start: 1;
  grid-column-end: 4;
}
footer {
  grid-column: 2/5;
} */

.s {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: aliceblue;
  text-align: center;
  background-color: rgb(84, 84, 84);
  padding: 10px;
  border: 1px solid #fff;
}
