* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 150px;
  width: 150px;
  background-color: brown;

  /* Transition */
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
  
  /* shorthand notation */
  /* transition: all 3s ease-in 2s; */
}
.box:hover {
  height: 300px;
  width: 300px;
  background-color: blueviolet;
  cursor: pointer;
}
