* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}
.box {
  height: 150px;
  width: 150px;
  background-color: brown;
  /* transform: skew(50deg); */


  transition: all 3s ease-in 2s;
}
.box:hover {
  /* transform: translateX(200px); */
  /* transform: translatey(-200px); */
  /* transform: translatez(100px);  */

  /* transform: scale(1.5); */
  /* transform: scaleX(1.5); */
  /* transform: scaleY(1.5); */

  /* transform:rotateX(50deg); */
  /* transform:rotateY(50deg); */
  /* transform: rotateZ(-90deg); */
  transform: rotateX(90deg);

  /* transform: skew(50deg); */
  /* transform: skewX(50deg); */
  /* transform: skewY(50deg); */
}
