* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
.container {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  position: relative;
}
.box {
  height: 50px;
  width: 150px;
  background-color: aquamarine;
  position: absolute;

  animation-name: moving;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
}
@keyframes moving {
  0%{
    background-color: darksalmon;
    top: 10px;
    left: 10px;
  }
  25%{
    background-color: green;
    top: 10px;
    left: 1300px;
  }
  50%{
    background-color:red;
    top: 600px;
    left: 1300px;
  }
  75%{
    background-color: slateblue;
    top: 600px;
    left: 10px;
  }
  100%{
    background-color: orangered;
    top: 10px;
    left: 10px;
  }
} */

/* <!-- ANIMATION PROJECT  --> */

body {
  background-color: rgb(11, 8, 8);
  display: flex;
  justify-content: center;
}
.container-2 {
  height: 10%;
  width: 80%;
  background-color: rgb(38, 32, 32);
  margin-top: 40px;
  font-size: 3rem;
  font-family: sans-serif;
  border-radius: 10px;
  white-space: nowrap;
  padding: 20px;
  color: #fff;
  overflow: hidden;
}
p {
  animation-name: moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moving {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -75%;
  }
}
