*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 80vh;
    width: 80vw;
    border: 10px solid black;
    background-color: rgb(77, 173, 99);
}
#first{
    width: 50%;
    height: 50%;
    border: 5px solid red;
    background-color: rgb(194, 93, 93);
}