*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 80%;
    width: 80%;
    background-color: darkblue;
        display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid;
}
#inner-div{
    height: 50%;
    width: 50%;
    background-color: darkmagenta;
    
    border: 10px solid;
    padding: 20px 50px;
    margin-top: 100px;
}