* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 50px;
  width: 250px;
  background-color: blueviolet;
  text-align: center;
}

/* Pseudo Selector */
div:hover {
  cursor: pointer;
  background-color: chocolate;
  color: peachpuff;
}
