* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  border: 5px solid red;
  margin-bottom: 4em;
  /* display: inline; */
}

a {
  border: 5px solid red;
  display: inline-block;
  height: 50px;
  width: 100px;
}
